/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

$font-family: 'Dosis', sans-serif;

// Colors
$main-clr: #ffbc00;
$light-clr: #f4f4f4;
$medium-clr: #ccc;
$dark-clr: #333;

// Img
$bg-image: url('../img/showcase.jpg');

// Sizes
$website-width: 1280px;
